@{ Layout = "master.cshtml"; }
<section>
  @foreach (var post in ViewBag.Posts)
  {
    <article>
      <h2><a href="@post.PermaLink">@post.Title</a></h2>
      <div>
        @Html.Raw(post.Html(ViewBag.ImagesBaseUri))
      </div>
      <button onclick="load_disqus('@post.Slug', '@post.Slug');" class="pure-button blog-comment-button">Comments</button>
      <div id="disqus_thread"></div>
      <div class="blog-date">@post.Created.ToString("d MMM yyyy")</div>
    </article>
  }
  <p>
    <button class="pure-button" @ViewBag.DisableNext onclick="location.href='@ViewBag.Next';" style="float:right;">Older &rArr;</button>
    <button class="pure-button" @ViewBag.DisablePrev onclick="location.href='@ViewBag.Prev';">&lArr; Newer</button>
  </p>
</section>

@section sidebar {
  <p><strong>Recent Posts</strong></p>
  <p>
    @foreach (var post in @ViewBag.RecentPosts)
    {
      <div class="recent-post"><a href="@post.PermaLink">@post.Title</a></div>
    }
    <div class="recent-post"><a href="~/blog/archives">More... (@ViewBag.PostCount)</a></div>
  </p>
}

@section scripts {
  <script>
    var disqus_identifier;
    var disqus_title;
    function load_disqus(id, title) {
      var disqus_shortname = 'mikeward';
      disqus_identifier = id;
      disqus_title = title;
      (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    }
  </script>
}