@using System.Linq
@{
  Layout = "master.cshtml";
}

<section>
  @foreach (var post in ViewBag.Posts)
  {
    <article>
      <h2><a href="@post.PermaLink">@post.Title</a></h2>
      <div>
        @Html.Raw(post.Html())
      </div>
      <button onclick="load_disqus('@post.Slug', '@post.Slug');" class="pure-button blog-comment-button">Comments</button>
      <div id="disqus_thread"></div>
      <div class="blog-date">@post.Created.ToString("d MMM yyyy")</div>
    </article>
  }
  <p>
    <a style="visibility: @ViewBag.PrevVisible" href="@ViewBag.Prev">previous</a>
    |
    <a style="visibility: @ViewBag.NextVisible" href="@ViewBag.Next">next</a>
  </p>
</section>

@section sidebar {
  <p><strong>Recent Posts</strong></p>
  <p>
    @foreach (var post in Enumerable.Take(Model.Posts, 7))
    {
      <div class="recent-post"><a href="@post.PermaLink">@post.Title</a></div>
    }
    <div class="recent-post"><a href="~/blog/archives">More... (@Enumerable.Count(Model.Posts).ToString("n0"))</a></div>
  </p>
}